---
layout: default
title: Blog
---

<p><a href="http://design.apievangelist.com/blog.xml"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="25" align="right" style="padding: 25px;" /></a></p>
<p>This blog acts as the updates for this project. Subscribe to the rSS, and come back regularly for updates.</p>
<ul style="padding: 25px; border-bottom: 1px solid #000;">
{% for post in paginator.posts %}
	<li>
	  {% if post.image != null %}
	  	<a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
	  		<img src="{{ post.image }}" width="65" align="left" />
	  	</a>
	  {% endif %}
		<a href="{{ post.source }}" rel="bookmark" title="{{ post.title }}" style="color:#000; font-size: 16px;"><strong>{{ post.title }}</strong></a> - {{ post.content | split:'<!--break-->' | first | strip_html }}
	</li>
{% endfor %}
</ul>
