---
layout: default
title: Blog
---

<p><a href="http://design.apievangelist.com/blog.xml"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="25" align="right" style="padding: 25px;" /></a></p>
<p>This blog acts as the updates for this project. Subscribe to the rSS, and come back regularly for updates.</p>
<ul style="padding: 10px; border-top: 0px solid #000;">
{% for post in paginator.posts %}
	<li style="padding: 25px; border-bottom: 0px solid #000;">
	  {% if post.image != null %}
	  	<a href="/{{ site.github_repo }}/{{ post.url }}" rel="bookmark" title="{{ post.title }}">
	  		<img src="{{ post.image }}" width="150" align="left" style="padding: 15px;" />
	  	</a>
	  {% endif %}
		<a href="/{{ site.github_repo }}/{{ post.url }}" rel="bookmark" title="{{ post.title }}" style="color:#000; font-size: 16px;"><strong>{{ post.title }}</strong></a> - {{ post.content | split:'<!--break-->' | first | strip_html }}
	</li>
{% endfor %}
</ul>
<p>If you have any questions, you can submit them using the <a href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}/issues">Github issues for this project</a>.</p>
